<div class="container-fluid">
    <div class="container-fluid col-md-4">
        <form ng-submit="saveRole()" name="roleForm">
            <div class="form-group">
                <label for="roleName">Role Name</label>
                <input type="text" class="form-control" id="roleName" placeholder="Enter the role" ng-model="role.name">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
    </div>

    <div class="container-fluid col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-4">Role</th>
                <th class="col-md-4"></th>
            </tr>
            </thead>
            <tr ng-repeat="role in roles">
                <td class="col-md-4">
                    {{role.name}}
                </td>
                <td class="col-md-4">
                    <a ng-click="viewRoleDetails(role.id);"> View details</a>
                </td>
            </tr>
        </table>
    </div>
</div>
